<ion-view view-title="공지">
  <ion-nav-title class="title">
    <h1 class="title" style="text-align: center; font-size:120%; font-family: Serif;color:#ff4080;font-style: oblique;font-weight: bold;">Telepathy Notice</h1>
  </ion-nav-title>
  <ion-content>
    <h5 style="text-align:center;margin-top:5%;">LoveTelepathy에서 알려드립니다.</h5>
    <div class="list" style="margin-top:5%;">
      <div class="item">
        <li style="margin-left:5%;">
          첫 번째 공지사항입니다.
          <div class="list" style="margin-left:5%;font-size:80%;">
            공지사항 내용 첫 번째 줄입니다.<br>공지사항 내용 두 번째 줄입니다.
          </div>
        </li>
      </div>
      <div class="item">
        <li style="margin-left:5%;">
          두 번째 공지사항입니다.
        </li>
      </div>
      <div class="item">
        <li style="margin-left:5%;">
          세 번째 공지사항입니다.
        </li>
      </div>
    </div>

  </ion-content>
</ion-view>
