<ion-view view-title="추천">
  <ion-nav-title class="title">
    <h1 class="title" style="text-align: center; font-size:120%; font-family: Serif;color:#ff4080;font-style: oblique;font-weight: bold;">Recommandation</h1>
  </ion-nav-title>
  <ion-content>
    <h5 style="text-align:center;margin-top:5%;margin-bottom:5%">친구들에게 LoveTelepathy를 추천하고 번개 창고를 늘리세요...</h5>
    <div class="list" style="margin-left:5%;margin-right:5%;">
        <a class="item item-avatar" href="#">
          <img src="img/sms.png">
          <h2>SMS</h2>
          <p>Good luck for your telepathy...</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/email.png">
          <h2>Email</h2>
          <p>Good luck for your telepathy...</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/kakaotalk.png">
          <h2>KakaoTalk</h2>
          <p>Good luck for your telepathy...</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/line.png">
          <h2>Line</h2>
          <p>Good luck for your telepathy...</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/facebook.png">
          <h2>Facebook</h2>
          <p>Good luck for your telepathy...</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/twitter.png">
          <h2>Twitter</h2>
          <p>Good luck for your telepathy...</p>
        </a>
    </div>
  </ion-content>
</ion-view>
